<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile App Testing Suite" verbose="1" parallel="false">

    <!-- Add TestListener for automatic screenshot and logging -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

   <!-- <test name="Authentication: Data-Driven Testing">
        &lt;!&ndash; DANH SÁCH TEST CLASSES &ndash;&gt;
        <classes>
            <class name="testcase_datadriven.LoginTestDataDriven"/>
            <class name="testcase_datadriven.ChangePasswordTestDataDriven"/>
            <class name="testcase_datadriven.RegisterTestDataDriven"/>
        </classes>
    </test>
-->
    <test name="Authentication">
        <classes>
            <class name="testcase.RegisterTest"/>
            <class name="testcase.LoginTest"/>
            <class name="testcase.ChangePasswordTest"/>
        </classes>
    </test>

    <test name="Authentication: AI Generated Test Cases">
        <classes>
            <class name="testcase_AIgen.LoginTestAIGeneration"/>
        </classes>
    </test>
</suite>
